
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-Awesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.foot {
    padding:20px 0;
}

.form-signin {
    width: 50%;
    padding: 10px;
    margin: auto;
}

.btn-soc:hover {
    opacity: 0.7 !important;
}

.btn-twitter {
    background: #55ACEE !important;
    color: white !important;
}

.btn-google {
    background: #dd4b39 !important;
    color: white !important;
}

.btn-facebook {
    background: #3B5998 !important;
    color: white !important;
}
