
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|Orbitron');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-Awesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";

a {
    outline: none !important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.foot {
    padding:20px 0;
}

.form-signin {
    width: 50%;
    padding: 10px;
    margin: auto;
}

.btn-soc:hover {
    opacity: 0.7 !important;
}

.btn-twitter {
    background: #55ACEE !important;
    color: white !important;
}

.btn-google {
    background: #dd4b39 !important;
    color: white !important;
}

.btn-facebook {
    background: #3B5998 !important;
    color: white !important;
}

.profile-pict {
    border: 1px solid #ddd;
    border-radius: 50%;
}

.text-pink {
    color: pink;
}

.text-bold {
    font-weight: bold !important;
}

.modal-footer {
    display: block !important;
    justify-content: inherit !important;
}

.loading-box {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    background-color: #439fff;
    z-index: 99;
    text-align: center;
}

.loading-img {
    position: absolute;
    width: 30%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
}

.card-user-profile-photo {
    margin: auto;
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #ccc;
}

.card-user-profile {
    word-wrap: break-word;
    margin-bottom: 25px;
    line-height: 1.44;
    color: rgba(59, 55, 56, 0.7);
}

.card-user-profile-inner {
    padding: 45px 15px;
    text-align: center;
}

.profile-avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.answer-by {
    font-size: 10px;
    height: 20px;
}

.side-container {
    width: 300px;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding-top: 63px;
}

.main-container {
    width: 667px;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding-top: 63px;
}

.layanan {
    width: 180px;
    display: inline-block;
    margin-bottom: 24px;
}

.layanan-icon {
    float: left;
    margin-right: 10px;
}

.index-by-letter-button {
    margin-top: 10px;
}

.index-by-letter-container ul {
    padding: 20px 0 0 0;
    margin: 0;
    overflow: hidden;
}

.menu-children li {
    width: 312px;
    height: 70px;
    list-style-type: none;
    float: left;
    font-size: 18px;
    border-right: 1px solid #dadee4;
    margin: 0 10px;
}

.clock {
    font-family: 'Orbitron', sans-serif !important;
}

.box-filter {
    width: 300px;
    border-radius: 3px;
    background-color: #f9f9f9;
    border: solid 1px #dadee4;
    margin-bottom: 20px;
}

.dataList {
    list-style-type: none;
    padding: 0;
    margin: 20px;
    overflow-y: auto;
    max-height: 200px;
    font-size: 14px;
}
